
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: roboto,sans-serif;
    background-color: white;
}



.wrapper {
    display: inline-flex;
  }
  .wrapper .icon {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span {
    display: block;
    height: 60px;
    width: 60px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    position: relative;
    left: 50px;
    bottom: 220px;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i {
    left: 0px;
    top: 0px;
    line-height: 60px;
    font-size: 40px;
  }
  .wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -175px;
    left: 35px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: inherit;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
  }
  .wrapper .icon:hover span {
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip {
    background: #333;
  }

  div.card {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
  }

h3 a {
  color: black; /* Default color */
  transition: color 0.3s ease, transform 0.3s ease;
}

h3 a:hover {
  color: grey; 
  transform: scale(1.2);
}


h3 {
    position: relative;
    bottom: 20px;
    left: 0px;
    z-index: 999;
  font-size: 40px;
  font-family: roboto,sans serif;  
}

p {
  gap: 200px;
  width: 100%;
  font-size: 20px;
}



a {
    color: #2f4858;
    text-decoration: none;
}


div.project-info {
  background-color: #b9b9b9;
  position: absolute;
  gap: 20px; 
  width: 30%;
  left: 650px;
  bottom: 150px;
  z-index: 999;
  display: flex; 
  flex-direction: column; 
}


img {
    z-index: 1;
    right: 500px;
    top: 50px;
    position: absolute;
    width: 50%;
    height: 50%;
}

div.footer {
  display: flex; 
  flex-direction:row; 
  gap: 20px;
}

h3.follow {
  left: 200px;
  top: 20px;
  position: relative;
  font-size: 20px;
}

.wrapper .icon span {
  bottom: 120px;
}

.social-icons a {
  text-decoration: none;
  color: black; /* Default color */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  font-size: 50px;
  margin: 0 10px; /* Spacing between icons */
}

.social-icons a:hover {
  color: #3498db; /* Change color on hover */
  transform: scale(1.2); /* Enlarge the icon slightly */
}

i {
  position: relative;
  left: 400px;
  bottom: 10px;
  font-size: 50px;

}

footer {
  background-color: cornsilk;
  height: 100px;
  
}


@media (max-width: 480px) {
 

  img {
    height: 100vh;
    top: 0px;
    width: 100%;
    left: 0px;
  }
  div.project-info {
    width: 70%;
    left: 70px;
    bottom: 90px;
  }

  p {
    font-size: 10px;
  }

  h3 {
    left: 20px;
    bottom: 100px;
    font-size: 20px;
  }

  h3.follow {
    left: 20px;
    top: 20px;
    position: relative;
    font-size: 20px;
  }



  i {
    bottom: 30px;
    font-size: 30px;
    left: 150px;
  }

 
}

/* Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  div.project-info {
    bottom: 80px;
    width: 70%;
    left: 15%;
  }

  p {
    font-size: 15px;
  }

  h3 {
    bottom: 200px;
    font-size: 30px;
  }

  .wrapper .icon:hover .tooltip {
    top: -250px;
    left: 5px;
  }

  .wrapper .icon span {
    bottom: 195px;
   left: 20px;
  }

  img {
    height: 100vh;
    top: 0px;
    width: 100%;
    left: 0px;
  }

  i {
    top: -10px;
    font-size: 40px;
    left: 150px;
  }

  h3.follow {
    left: 20px;
    top: 25px;
    font-size: 20px;
  }
}

/* Laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  div.project-info {
    bottom: 100px;
    width: 70%;
    left: 15%;
  }

  p {
    font-size: 15px;
  }

  h3 {
    bottom: 170px;
    font-size: 30px;
  }

  .wrapper .icon:hover .tooltip {
    top: -225px;
    left: 5px;
  }

  .wrapper .icon span {
    bottom: 170px;
   left: 20px;
  }

  img {
    height: 100vh;
    width: 100%;
    left: 0px;
  }

  i {
    top: 25px;
    font-size: 30px;
    left: 150px;
  }

  h3.follow {
    left: 20px;
    top: 70px;
    font-size: 20px;
  }
  footer {
    height: 120px;
  }
}

/* Large Screens (1025px - 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  div.project-info {
    bottom: 100px;
    width: 80%;
    left: 100px;
  }

  p {
    font-size: 20px;
  }

  h3 {
    bottom: 200px;
    font-size: 30px;
  }

  .wrapper .icon:hover .tooltip {
    top: -255px;
    left: 5px;
  }

  .wrapper .icon span {
    bottom: 200px;
   left: 20px;
  }

  img {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
  }
  i {
    top: 5px;
    font-size: 50px;
    left: 170px;
  }

  h3.follow {
    left: 20px;
    top: 50px;
    font-size: 25px;
  }
  footer {
    height: 120px;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  div.project-info {
    bottom: 100px;
    width: 80%;
    left: 100px;
  }

  p {
    font-size: 20px;
  }

  h3 {
    bottom: 200px;
    font-size: 30px;
  }

  .wrapper .icon:hover .tooltip {
    top: -255px;
    left: 5px;
  }

  .wrapper .icon span {
    bottom: 200px;
   left: 20px;
  }

  img {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
  }
  i {
    top: 5px;
    font-size: 50px;
    left: 170px;
  }

  h3.follow {
    left: 20px;
    top: 50px;
    font-size: 25px;
  }


  footer {
    height: 120px;
  }
}